@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Calle del Sol<br />
    Los Lobos, 7249<br />
    <abbr title="Phone">P:</abbr>
    425-555-0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>