@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jardines App</h1>
    <p class="lead">Jardines App es una aplicación Web para el comercio de planta y afines</p>
    <p><a href="https://asp.net" class="btn btn-success btn-lg">Leer mas &raquo;</a></p>
</div>
